DRIVER=~fastapi+~httpx+~websockets
FEISHU_BOTS='
[
  {
    "app_id": "xxx",
    "app_secret": "xxx",
    "verification_token": "xxx",
    "encrypt_key": "xxx",
    "is_lark": false
  }
]
'
telegram_bots='[{"token": "123:xxx"}]'
telegram_proxy="xxx"
nonebot_bridges='
[
  {
    "name": "test",
    "lands": [
      {
        "bot_name": "telegram",
        "id": "123",
        "name": "p2p-tg-test"
      },
      {
        "bot_name": "feishu",
        "id": "123",
        "name": "p2p-feishu-test"
      },
      {
        "bot_name": "feishu",
        "id": "123",
        "name": "group-feishu-test"
      },
      {
        "bot_name": "telegram",
        "id": "123",
        "name": "group-tg-test"
      }
    ]
  }
]
'
nonebot_bridge_bots='
[
  {
    "name": "feishu",
    "type": "feishu",
    "id": "xxx"
  },
  {
    "name": "telegram",
    "type": "telegram",
    "id": "123"
  }
]
'