nb-cli==1.4.1
nonebot-adapter-console==0.6.0
nonebot-adapter-feishu==2.6.2
nonebot-adapter-qq==1.5.0
nonebot-adapter-telegram==0.1.0b17
nonebot-plugin-send-anything-anywhere==0.6.1
nonebot2[httpx,fastapi]==2.3.1
uvicorn[standard]